$PADDING: 10px;

.submit-modal {
    height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;

    &-title {
        @include flex();
        align-items: center;
        margin: $PADDING;
        width: 100%;
        @include ellipsis();
    }

    .form {
        overflow: hidden;
        padding: 10px;
        border-radius: 12px;
        background-color: #fca42e;
        margin: $PADDING;

        &-title {
            line-height: 24px;
            color: #fff;
            font-size: 14px;
            text-align: center;
            font-weight: 600;
            margin-bottom: 10px;
        }

        &-item {
            @include flex();
            align-items: center;
            margin-bottom: 10px;
            background-color: #fff;
            border-radius: 4px;
            overflow: hidden;

            &-label {
                width: 80px;
                padding-left: 16px;
                color: #646566;
            }

            &-value {
                flex: 1;
            }

            &-help {
                position: absolute;
                right: 5px;
                top: 5px;
            }
        }
    }

    &-footer {
        margin-top: 20px;

        &-btn {
            width: 60%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background-color: rgb(254, 161, 42);
            border-color: rgb(254, 161, 42);
            border-radius: 24px;
            margin-left: 20%;
            color: #fff;
        }
    }
}


.rich-text {
    background-color: #fff;
    max-height: calc(100vh - 400px);
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}