:root:root {
    --van-checkbox-checked-icon-color: #fa3534;
    --van-password-input-height: 88rpx;
    --van-dropdown-menu-title-active-text-color:#f33;
    --van-dropdown-menu-option-active-color: #f33;
}


